<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пользователи</title>
    <script>
        function getUserById() {
            const userIdTextBox = document.getElementById('userIdTextBox');
            const userDataContainer = document.getElementById('userDataContainer');
            const id = userIdTextBox.value;
            //fetch('api/user?id=' + id)
            fetch('api/user/' + id)
                .then(function (response) {
                    if (!response.ok) {
                        userDataContainer.innerText = response.status + " user with " + id + " not found";
                    }
                    return response;
                })
                .then(response => response.json())
                .then(user => userDataContainer.innerHTML = JSON.stringify(user))
        }
    </script>
</head>

<body>

<form accept-charset="utf-8" id="create-user-form" th:action="@{/users/create}" th:method="post"
      th:object="${newUserDto}">
    <h4>Создать нового пользователя</h4>
    <label for="newUserName">Имя</label>
    <input id="newUserName" name="name" placeholder="Введите имя нового пользователя" required th:field="*{name}"
           type="text"/>
    <br>
    <label for="newUserAge">Возраст</label>
    <input id="newUserAge" name="age" placeholder="Введите возраст нового пользователя" required th:field="*{age}"
           type="number"/>
    <br>
    <label for="newUserPass">Пароль</label>
    <input id="newUserPass" name="password" placeholder="Введите пароль нового пользователя" required
           th:field="*{password}"
           type="password"/>
    <br>
    <div class="row">
        <button type="submit">Создать</button>
    </div>
</form>

<h4>Получить пользователя по id</h4>
<input id="userIdTextBox" placeholder="Введите id пользователя" type="text" value="3"/>
<button onclick="getUserById()">Получить</button>
<pre id="userDataContainer"></pre>

<h4>Случайный пользователь</h4>
<table style="width: 400px">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 100px">Пароль</td>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${randomUser}">
        <td th:text="${randomUser.id}">1</td>
        <td th:text="${randomUser.name}">keklolname</td>
        <td th:text="${randomUser.password}">keklolpass</td>
    </tr>
    </tbody>
</table>


<h4>Все пользователи</h4>
<div>
    <table style="width: 400px">
        <thead>
        <tr>
            <td style="width: 50px">Id</td>
            <td style="width: 150px">Имя</td>
            <td style="width: 100px">Пароль</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.name}">keklolname</td>
            <td th:text="${user.password}">keklolpass</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
